[Desktop Entry]
Version=1.0
Name=Brave Web Browser
GenericName=Web Browser
Exec=/home/$USER/.opt/brave/brave-browser %U
StartupNotify=true
Terminal=false
Icon=com.brave.Browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/home/$USER/.opt/brave/brave-browser

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/home/$USER/.opt/brave/brave-browser --incognito
